.container{
    display: grid;
    grid-template-rows: 200px 500px 100px;
    grid-auto-flow: column;
    grid-template-areas:
    "hd"
    "main"
    "ft";
    background-color: black;
    color: white;
}